#top {
    display: block;
    width: 40%;
    margin: 25% auto 25%;
}
h1 {
    margin-top: 5%;
    font-size: 50px;
}
a, u {
    text-decoration: none;
}
.large {
    font-size: 50px;
}
.name {
    margin-top: 2%;
}
.review {
    margin-top: 1%;
}
#reviewer {
    margin-top: 10%;
}
#team {
    text-align: left;
    margin-left: 2%;
}
body {
    background-color: #2C2F33;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
}
#footer {
    text-align: left;
    margin-top: 2.5%;
}